.cabecario{
    display: flex;
    flex-direction: row;
    background-color: #252116;
    height: 160px;
    align-items: center;
    justify-content: space-around;

}
.links{
    margin-right: 60px;
}
.cabecario a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    margin: 80px;
    padding: 5px;
    font-family: "Kanit", sans-serif;

    
}
.cabecario img{
    height: 170px;
}
body{
    background-color: #BDB38E;
}
